[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=10
User=pi
ExecStart=/home/go/src/rotor-network/gateway/gateway

[Install]
WantedBy=default.target
